

/*
     FILE ARCHIVED ON 12:43:17 Sep 10, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:22:44 Nov 15, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 96.996
  esindex: 0.013
  exclusion.robots: 0.135
  PetaboxLoader3.resolve: 48.237
  load_resource: 99.069
  RedisCDXSource: 4.216
  CDXLines.iter: 19.681 (3)
  LoadShardBlock: 62.34 (3)
  exclusion.robots.policy: 0.125
  PetaboxLoader3.datanode: 51.652 (4)
*/